<div class="panel panel-default">   
    <div class="panel-heading">
        <div class="day-buttons">
            <button class="btn btn-circle day-btn">1</button>
            <button class="btn btn-circle day-btn current-day">2</button>
            <button class="btn btn-circle day-btn">3</button>
            <button data-type="add" class="btn btn-circle day-btn">+</button>
        </div>
    </div>
    <div class="panel-body current-day">
        <div>
            <div class="hotel-container">
                <h4>My Hotels</h4>
            </div>

            <div class="restaurants-container">
                <h4>Restaurants</h4>
            </div>

            <div class="thingstodo-container">
                <h4>Things To Do</h4>
            </div>


        </div>
    </div>
</div>
